<h1>Otras Herramientas</h1>

Ir a:
<ul>
  <li><a routerLink="/lodash">Lodash</a></li>
  <li><a routerLink="/bootstrap">Bootstrap</a></li>
  <li><a routerLink="/angular-bootstrap">Angular Bootstrap</a></li>
  <li><a routerLink="/moment-js">Moment.js</a></li>
</ul>

<hr />

<router-outlet></router-outlet>
